<div id="<%= dom_id booking %>">

    <div>Hi <%= booking.full_name %>, </div>

    <div>We are excited to watch your <%=  booking.animal_type %> <span class="text-green font-bold"><%= booking.animal_name %></span> on</div>
    <div><%= booking.service_date.strftime('%m/%d/%Y') %> for <%= booking.hours %> hours.</div>

    <div class="mt-6 text-green">Price: $<%= booking.price %></div>

</div>
