<!DOCTYPE html>
<html>
  <head>
    <title>PetSitUp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-background">
    <div class="flex items-center justify-between border-b-[.5px] border-light_grey bg-white  w-fill h-20 px-6">
      <%= link_to new_booking_path() do %>
        <div class="font-bold text-2xl text-grey">PetSit <span class="text-green">Up!</span></div>
      <% end %>

      <% if admin_signed_in? %> 
        <div class="flex">
          <%= link_to bookings_path() do %><div class="mr-10">Bookings</div><% end%>
          <%= link_to destroy_admin_session_path() do %> Logout <% end %>
        </div>
      <% else %>
        <%= link_to new_admin_session_path() do %> Admin Login <% end %>
      <% end%>
    </div>
    
    <div class="flex flex-col justify-start items-center pt-6">
      <%= yield %>
    </div>
  </body>
</html>
